.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    /* ANIMATION  at a time aik*/
    animation-name: fontsize;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal;


      animation-name: boxCol;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal;

       animation-name: boxwidth;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal;

    animation: boxwidth 3s ease-in 0s infinite normal;
}
@keyframes fontsize{
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}
@keyframes boxCol{
    from{
        background-color: pink;
    }
    to{
        background-color: yellow;
    }
}

/* 2 in 1 */
@keyframes boxwidth{
    0%{
        width: 10px;
          background-color: pink;

    }
    50%{
        width: 400px;
        background-color: yellow;
        border-radius: 15px;
    }
    100%{
           width: 700px;
        background-color: black;
        border-radius: 35px;

    }
}
