h1{
    background-color: yellow;
    border:2px solid black;
}


@media (width:400px){
h1{
    background-color: red;
    color:white;
        border:2px solid black

}
div{
    background-color: blue;
    height: 100px;
    width: 100px;
}
}

/* 700> */
@media (min-width:700px){
    h1{
        background-color: green;
    }
}

/* 0---200 */
@media (max-width:200px){
    h1{
        background-color: pink;
    }
}

/* AND */
@media (min-width:450px) and (max-width:500px){
    h1{
        background-color:rgb(151, 14, 163);
    }
}


/* landscape */
@media (orientation: landscape){
    h1{
        background-color:blue;
        color:white;
    }
}



