#container{
    height:300px;
    width:600px;
    background-color:yellow;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px; 
     grid-template-columns: 100px 100px 100px; */

     /* grid-template-columns: auto auto;  */
     /* best way not use auto */
        /* grid-template-columns: 200px 200px 200px;  */



        grid-template-rows: repeat(5,1fr);
         grid-template-columns: repeat(3,1fr);


}
.item{
    /* height: 50px;
    width: 100px; */
    background-color: greenyellow;
    border:2px solid black;
    text-align: center;
    
}

/* grid template(lines and track)
lines+1=track */
